#PUERTO
PORT=4000

#CREDENCIALES BD
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password_example
DB_NAME=db

#JWT
JWT_SECRET=

#CLOUD
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=